{% load staticfiles %}
<html>
<body>
<form name="search" action='/cgi/test.py' method="get"> 
State: <input type="text" name="State" value=""><br>
City: <input type="text" name="City" value=""><br>
Start Date(dd/mm/yyyy): <input type="text" name="StartDate" value=""><br>
End Date(dd/mm/yyyy): 	<input type="text" name="EndDate" value=""><br>
Find:<input type="text" name="Find" value=""><br>
Name of Respondent: <input type="text" name="Name" value=""><br>
<input type="submit" name="Submit" value="Submit">
</form>  
</body>
</html>
